<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="icon" type="image/png" href="/spotfraud.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div class="container">
    <h1>Spot Fraud</h1>
    <p>Unmasking the Truth in News</p>
    <p>Welcome to Spot Fraud, your trusted ally in navigating the complex world of online news. We understand the importance of reliable information and the need to distinguish fact from fiction. With our innovative platform, registered users like you gain the power to uncover the truth behind news articles circulating on the web.</p>
    <a href="/login" class="buttonn">Login</a>
  </div>
</body>
</html>